<!DOCTYPE html>
<html>
  <head>
     <meta charset="utf-8">
     <title>About</title>
  </head>
  <body>
    {{> header}}
    <h1>{{pageTitle}} Page</h1>
    <p>{{welcomeMessage}}</p>
    <p>some body here....</p>
  </body>

  <footer>Copyright @ {{currentYear}}</footer>
</html>
